<header class="navbar-custom">
  <a href="/" class="navbar-brand">Cinequest</a>
  <div class="navbar-menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <form action="/result" method="GET" class="search-form">
          <input type="text" name="movieName" placeholder="Search movies...">
          <button type="submit">Search</button>
      </form>
  </div>
  
</header>